.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 300px 50px;
}

.title {
    font-size: 4rem;
    font-weight: bold;

}

.subtitle {
    font-size: 2rem;
    font-weight: bold;
}

.ImagenPerfil {
    float: left;
    margin: -20vw auto;
    width: 50%;
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
}


.links {
    margin: auto 1vw;
}

.info {
    margin-top: 0;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .contenedor {
        margin-top: 10vh;
    }

    .title {
        font-size: 3rem;
        font-weight: bold;
        margin: auto;
        margin-top: -20px;
    }

    .subtitle {
        font-size: 1.3rem;
        font-weight: bold;
        margin: auto;
    }

    .ImagenPerfil {
        width: 100%;
        align-items: center;
        margin-top: 0vw;
        width: 100%;
    }

    .info {
        margin-top: -18vh;
    }
}